@use "../_variables.scss" as theme;

// Toolbar wrapper container
.q.container.toolbar-wrapper {
  max-width: 100% !important;
  background-color: var(--a18n-color-bg) !important;

  // Toolbar container
  .toolbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
    padding: theme.$spacing-xsmall 0px;

    .option {
      display: inline flex;
      min-width: 50px;
      align-items: center;
      margin-right: theme.$spacing-small;

      button {
        border: unset;
        background: unset;
        color: var(--a18n-color-text);
        font-size: var(--a18n-font-size);
        font-weight: var(--a18n-font-weight);
        line-height: var(--a18n-line-height);

        > svg {
          height: 20px !important;
        }
      }
    }
  }
}
